body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8eafa;
  }
  
  header {
    background-color: #0073e6;
    color: #fff;
    padding: 8px 15px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left h2 {
    margin-left: 20px;
    font-style: oblique;
  }
  
  nav {
    width: 100%;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
  }
  
  nav ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-weight: 600;
    color: #fefefe; 
    background-color: #0073e6;
    position: relative;
    transition: color 0.25s;
  }
  .link:hover {
    color: rgb(77, 25, 247);
    background-color: white;
    transition: width .75s;
    transition: 0.45s;
    border-radius: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .selector{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
  }
  .placement-records {
    display: flex;
    flex-direction: row; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: #ffffff;
    padding: 10px;
    color: rgb(57, 57, 57);
    border-radius: 5px;
    margin-left: 10px;
  }

  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    height: 100%; 
  }

  .major-recruit{
    display: flex;
    flex-direction: row; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: #ffffff;
    padding: 10px;
    color: rgb(57, 57, 57);
    border-radius: 5px;
    margin-left: 10px;
  }
  
  

  .option-right{
    margin-right: 10px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    width:auto;
  }
  


  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: rgb(59, 59, 59);
    margin: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  

  button{
    border-radius: 10px;
    border-color: #0073e6;
    border-width: 2px;
    width: 120px;
    height: 40px;
  }
  button :hover{
    color: #3995f1;
  }

  select{
    border-radius: 10px; 
    height: 40px; 
    margin: 15px;
    width: 120px;
    border-color: #0c0c0c;
    border-width: 2px;
  }